@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --primary: hsl(353, 100%, 62%);
  --gradient: hsl(13, 100%, 72%), var(--primary);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 7%, 94%);
  --gray: hsl(240, 2%, 79%);
  --dark-gray: hsl(211, 22%, 43%);
  --dark-font: hsl(211, 51%, 21%);
  --dark-background: hsl(237, 18%, 23%);
  --footer-background: hsl(240, 10%, 16%);
}

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* 
=================================================================
  Typography 
=================================================================
*/

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  color: var(--white);
  padding-top: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5rem;
  color: var(--dark-font);
}

h3 {
  font-size: 2rem;
  color: var(--dark-font);
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75em;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* 
=================================================================
  Sections 
=================================================================
*/

section {
  padding-inline: 2.5em;
}

.white-section p {
  color: var(--dark-gray);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.illustration {
  display: flex;
  margin: 3em -2em;
}

.illustration img {
  flex: 1;
  max-width: 100%;
}

/* 
  Header
*/

header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  margin-top: 3.5em;
  padding: 2.5em 4em;
}

.header-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
  Navigation
*/

nav {
  position: absolute;
  top: calc(100% + 1.5em);
  left: 0;
  right: 0;
  z-index: 10;
  width: 90%;
  font-size: 1.25em;
  padding: 1em 1em 2em;
  margin-inline: auto;
  border-radius: 0.5em;
  background: var(--white);
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%),
    0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
  animation: rotateMenu 1s ease-in-out forwards;
  transform-origin: top center;
}

nav a {
  font-weight: 600;
}

.header-menu {
  margin: 0 0.5em 2em;
  border-bottom: var(--gray) solid 1px;
}

.menu-title {
  color: var(--dark-font);
  font-weight: 600;
  padding: 1em 0;
}

.menu-title img {
  width: 1rem;
  margin-left: 0.2em;
  transition: transform 0.2s ease-in-out;
}

.menu-title.active img {
  transform: rotate(-180deg);
}

.header-submenu {
  display: none;
  background: var(--light-gray);
  padding: 1em;
  border-radius: 0.5em;
  transform-origin: top center;
}

.header-submenu.active {
  display: block;
  animation: rotateMenu 1s ease-in-out forwards;
}

.header-submenu li {
  padding: 0.5em 0;
}

.header-submenu a {
  color: var(--dark-gray);
}

.header-submenu a:hover {
  color: var(--black);
  font-weight: 600;
}

.link {
  color: var(--dark-font);
}

.link:hover {
  color: var(--gray);
  text-decoration: underline;
}

nav .button-group {
  margin-top: 0;
  flex-direction: column;
}

#close {
  display: none;
}

/*
  Hero Section
*/

.hero {
  background-image: url(images/bg-pattern-intro.svg),
    linear-gradient(to bottom right, var(--gradient));
  background-size: 350%, cover;
  background-position: 35% 35%, center;
  background-repeat: no-repeat;
  padding-top: 6em;
  padding-bottom: 10.5em;
  border-radius: 0 0 0 6em;
}

.hero p {
  color: var(--light-gray);
}

/*
  Section 1
*/
.section-1 {
  padding-top: 5.5em;
}

/*
  Section 2
*/

.section-2 {
  padding: 3em 2em;
  margin-top: 15em;
  border-radius: 0 6em 0 6em;
  background: url(images/bg-pattern-circles.svg), var(--dark-background);
  background-position: 50% -13em, center;
  background-size: 155%, contain;
  background-repeat: no-repeat;
}

.section-2 img {
  margin: -11em 0 2em;
}

.section-2 h2 {
  color: var(--white);
}

.section-2 p {
  color: var(--gray);
  margin-bottom: 3em;
  padding-inline: 2em;
}

/*
  Footer
*/

footer {
  padding: 3em 2em;
  background: var(--footer-background);
  margin-top: 5em;
  border-radius: 0 6em 0 0;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

footer img {
  padding: 1em 0 3em;
}

.footer-menu li {
  color: var(--white);
  margin-bottom: 1em;
}

.footer-submenu li {
  padding: 0.25em 0;
  margin-bottom: 0.5em;
}

.footer-submenu a {
  color: var(--gray);
}

.footer-menu a:hover {
  color: var(--light-gray);
}

footer li:first-child {
  margin-top: 2em;
}

footer li:last-child {
  margin-bottom: 2em;
}

/* 
=================================================================
  Components 
=================================================================
*/

.button {
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 3em;
  padding: 0.75em 1.25em;
}

.filled-button {
  color: var(--primary);
  background-color: var(--white);
}

.gradient-button {
  padding-inline: 2em;
  background: linear-gradient(to bottom right, var(--gradient));
}

.filled-button:hover,
.gradient-button:hover {
  color: var(--white);
  background: var(--primary);
  opacity: 0.75;
}

.outlined-button {
  border: 1px solid var(--white);
}

.outlined-button:hover {
  color: var(--primary);
  background-color: var(--white);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  max-width: 40ch;
  margin: 3em auto 0;
}

/* 
=================================================================
  Helpers 
=================================================================
*/

.desktop {
  display: none;
}

@media (min-width: 992px) {
  /* 
  =================================================================
    Typography 
  =================================================================
  */

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  /* 
  =================================================================
    Sections 
  =================================================================
  */

  section {
    padding-inline: 4em;
  }

  img {
    object-fit: contain;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .section-2 .content,
  .section-3 .content {
    flex-direction: row;
  }

  .content-body {
    flex: 1;
  }

  section img {
    flex: 1;
    min-width: 55%;
  }

  /*
    Navigations
  */

  nav {
    font-family: "Ubuntu", sans-serif;
    flex: 1;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    animation: none;
  }

  .header-menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    color: var(--white);
    border: none;
    margin: 0 0 0 2em;
  }

  .menu-title {
    flex: 1;
    color: var(--light-gray);
    font-weight: 400;
    padding: 0;
  }

  .menu-title:hover {
    text-decoration: underline;
  }

  .menu-title img {
    filter: brightness(0) invert(1);
    margin-left: 0.25em;
    transition: transform 0.2s ease-in-out;
  }

  .menu-title:hover img {
    transform: rotate(-180deg);
  }

  .menu-title:hover > .header-submenu {
    display: block;
    position: absolute;
    min-width: 95px;
    text-align: left;
    padding: 1em 2em;
    background-color: var(--white);
    border-radius: 0.5em;
    transform: translate(0, 20px);
  }

  .menu-title:hover > .header-submenu:before {
    position: absolute;
    top: -35px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 35px;
  }

  .header-submenu a {
    color: var(--black);
    font-weight: 300;
  }

  nav .button-group {
    flex-direction: row;
    margin: 0;
  }

  .link {
    color: var(--white);
    font-weight: 400;
  }

  #hamburger,
  #close {
    display: none !important;
  }

  /*
    Hero Section
  */

  .hero {
    background-image: url(images/bg-pattern-intro.svg), linear-gradient(to right, var(--gradient));
    background-size: 190%, cover;
    background-position: 20% 55%, center;
  }

  /*
    Section 1
  */

  .section-1 img {
    transform: translate(10em, -5em) scale(1.3);
    z-index: -1;
  }

  /*
    Section 2
  */

  .section-2 {
    margin-bottom: 10em;
    background-size: 100%, cover;
    background-position: -25vw 100%, center;
  }

  .section-2 img {
    margin-bottom: -10em;
  }

  .section-2 p {
    padding-inline: 0;
  }

  /*
    Section 3
  */

  .section-3 img {
    transform: translate(-10em, 0) scale(1.3);
    z-index: -1;
  }

  /*
    Footer
  */

  footer {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 3em 4em 0;
  }

  .footer-menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }

  .footer-submenu li:first-child {
    margin-top: 1.5em;
  }

  footer li:first-child {
    margin-top: 0;
  }

  footer li:last-child {
    margin-bottom: 0;
  }

  /* 
  =================================================================
    Component 
  =================================================================
  */

  .gradient-button {
    background: var(--white);
    color: var(--primary);
  }

  .gradient-button:hover {
    background: var(--primary);
    color: var(--white);
    opacity: 0.75;
  }

  /* 
  =================================================================
    Helpers 
  =================================================================
  */

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
