@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 7%, 94%);
  --gray: hsl(240, 2%, 79%);
  --dark-gray: hsl(211, 22%, 43%);
  --dark-font: hsl(211, 51%, 21%);
  --gradient: hsl(13, 100%, 72%), var(--red);
  --red: hsl(353, 100%, 62%);
  --dark-background: hsl(237, 18%, 23%);
  --footer-background: hsl(240, 10%, 16%);
}

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* 
=================================================================
  Typography 
=================================================================
*/

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  color: var(--white);
  padding-top: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
  color: var(--dark-font);
  margin-top: 1.5em;
}

h3 {
  font-size: 2rem;
  color: var(--dark-font);
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

/* 
=================================================================
  Sections 
=================================================================
*/

section {
  padding-inline: 4em;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* 
  Header and Navigation
*/

header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  margin-top: 3.5em;
  padding: 2.5em 4em;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav a {
  text-decoration: none;
  font-weight: 600;
}

/* 
=================================================================
  Helpers 
=================================================================
*/

.desktop {
  display: none;
}

.link {
  color: var(--white);
}

.link:hover {
  text-decoration: underline;
  color: var(--gray);
}

.right-nav .button {
  padding: 0.75em 1.5em;
  margin-left: 1.5em;
}

.menu {
  display: none;
  margin-left: 2em;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  color: var(--white);
}

.menu-title {
  flex: 1;
}

.menu .menu-title:hover {
  text-decoration: underline;
}

.menu .menu-title:hover img {
  transform: rotate(-180deg);
}

.menu-title:hover > .submenu:before {
  display: block;
  content: "";
  width: 100%;
  height: 35px;
  position: absolute;
  top: -35px;
  left: 0;
}

.menu-title:hover > .submenu {
  display: block;
  position: absolute;
  padding: 1em 2em;
  background-color: var(--white);
  text-align: left;
  transform: translate(0, 35px);
  border-radius: 0.5em;
  min-width: 95px;
}

.menu .menu-title img {
  filter: brightness(0) invert(1);
  margin-left: 0.25em;
  transition: transform 0.2s ease-in-out;
}

.submenu li {
  padding: 0.25em 0;
}

.submenu a:hover {
  font-weight: bold;
  color: var(--black);
}

.menu .submenu {
  display: none;
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1.5em);
  z-index: 2;
  background: var(--white);
  width: 90%;
  margin-inline: auto;
  border-radius: 0.5em;
  padding: 1em;
  margin: auto;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%),
    0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
  animation: rotateMenu 1s ease-in-out forwards;
  transform-origin: top center;
}

.menu ul,
.mobile-menu ul {
  padding: 0;
  list-style: none;
  margin: 0 0.5em;
}

.mobile-menu > ul > li {
  font-size: 22px;
  color: var(--dark-font);
  font-weight: 600;
  padding: 1em 0;
}

.mobile-menu > ul {
  border-bottom: var(--gray) solid 1px;
  margin: 0 0.5em 3em;
}

.mobile-menu .menu-title img {
  width: 1rem;
  margin-left: 4px;
  transition: transform 0.2s ease-in-out;
}

.mobile-menu .menu-title.active img {
  transform: rotate(-180deg);
}

.mobile-menu .submenu {
  padding: 1em;
  background: var(--light-gray);
  font-size: 18px;
  font-weight: 600;
  border-radius: 0.5em;
  display: none;
  transform-origin: top center;
}

.mobile-menu .submenu.active {
  display: block;
  animation: rotateMenu 1s ease-in-out forwards;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes rotateMenuOut {
  0% {
    transform: rotateX(0deg);
  }
  70% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

.mobile-menu .submenu li {
  padding: 0.5em 0;
}

.submenu a {
  color: var(--dark-font);
}

.menu a,
.mobile-menu a {
  text-decoration: none;
}

.mobile-menu .button-group {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.mobile-menu .button-group a {
  font-size: 24px;
  color: var(--dark-font);
  font-weight: 600;
}

.mobile-menu .button-group .gradient-button {
  margin: 1em 0 1.5em;
  background: linear-gradient(to bottom right, var(--gradient));
  color: var(--white);
  padding: 0.75em 1em;
}

#close {
  display: none;
}

.hero {
  background-image: url(images/bg-pattern-intro.svg),
    linear-gradient(to bottom right, var(--gradient));
  background-size: 350%, cover;
  background-position: 35% 35%, center;
  background-repeat: no-repeat;
  padding-top: 6em;
  padding-bottom: 10.5em;
  border-radius: 0 0 0 6em;
}

.hero p {
  color: var(--light-gray);
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.button {
  width: 130px;
  text-decoration: none;
  padding: 0.75em;
  border-radius: 3em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.filled-button {
  background-color: var(--white);
  color: var(--red);
}

.filled-button:hover {
  background-color: var(--red);
  color: var(--white);
  opacity: 0.75;
}

.outlined-button {
  border: 1px solid var(--white);
  color: var(--white);
  margin-left: 1em;
}

.outlined-button:hover {
  background-color: var(--white);
  color: var(--red);
}

.white-section {
  padding-top: 5.5em;
}

.illustration {
  margin: 3em -2em;
  display: flex;
}

.illustration img {
  flex: 1;
  max-width: 100%;
}

.white-section p {
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.section-2 {
  padding: 3em 2em;
  background: url(images/bg-pattern-circles.svg), var(--dark-background);
  background-position: 50% -13em, center;
  background-size: 155%, contain;
  background-repeat: no-repeat;
  margin-top: 15em;
  border-radius: 0 6em 0 6em;
}

.section-2 img {
  margin: -11em 0 2em;
  max-width: 100%;
}

.section-2 h2 {
  color: var(--white);
}

.section-2 p {
  color: var(--gray);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin-bottom: 3em;
}

footer {
  padding: 3em 2em;
  background: var(--footer-background);
  margin-top: 5em;
  border-radius: 0 6em 0 0;
  align-items: center;
}

footer img {
  padding: 1em 0 3em;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer > ul > li {
  list-style: none;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 1em;
}

footer li {
  margin-bottom: 0.5em;
}

.footer-menu a {
  color: var(--gray);
  text-decoration: none;
  font-weight: 300;
}

.footer-menu a:hover {
  color: var(--gray);
}

footer li:first-child {
  margin-top: 2em;
}

footer li:last-child {
  margin-bottom: 2em;
}

@media (min-width: 992px) {
  body {
    margin: 0;
    font-family: "Overpass", sans-serif;
    text-align: center;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .menu {
    display: flex;
    flex-grow: 1;
  }

  .right-nav {
    display: block;
  }

  #hamburger,
  #close,
  .mobile-menu {
    display: none !important;
  }

  .hero {
    background-image: url(images/bg-pattern-intro.svg), linear-gradient(to right, var(--gradient));
    background-size: 190%, cover;
    background-position: 20% 55%, center;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .content-body {
    flex: 1;
  }

  .white-section img {
    flex: 1;
    max-width: 55%;
    z-index: -5;
  }

  .section-1 img {
    transform: translate(10em, -5em) scale(1.3);
    object-fit: contain;
  }

  .section-2 {
    background-size: 100%, cover;
    background-position: -25vw 100%, center;
    margin-bottom: 10em;
  }

  .section-2 img {
    margin-bottom: -15em;
    object-fit: contain;
  }

  .section-2 .content,
  .section-3 .content {
    flex-direction: row;
  }

  .section-3 img {
    transform: translate(-10em, 0) scale(1.3);
  }

  footer {
    display: flex;
    align-items: flex-start;
    padding: 3em 4em 0;
    text-align: left;
  }

  footer > ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }

  footer li:first-child {
    margin-top: 0;
  }

  footer li:last-child {
    margin-bottom: 0;
  }

  footer .submenu li:first-child {
    margin-top: 1.5em;
  }
}
